@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body { @apply bg-black text-gray-200; }

.cyber-grid {
  background-image: linear-gradient(rgba(57,255,20,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(57,255,20,0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}